<div class="d-flex justify-content-center m-4">
  <label class="btn btn-success btn-file">
    Ajouter des photos 
    <input
    type="file"
    multiple
    class="text-nowrap text-truncate form-control mr-4"
    style="display: none;"
    (change)="selectFile($event)"
  />
  </label>
</div>

<div *ngIf="currentFileUpload" class="progress mt-2">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%' }"
  >
    {{ percentage }}%
  </div>
</div>